/* Kuukausialbumien tyylisivu */
body
{background-color:#aaaaaa;
text-align:center;
font-family:arial;
}
hr 
{width:600px;
}
table 
{background-color:white;
width:600px;
text-align:center;
}
td 
{vertical-align:top;
border-top-style:solid;
border-top-width:1px;
border-top-color:#aaaaaa;
}
td.text 
{vertical-align:top;
border-top-style:none;
background-color:#eeeeee;
font-size:12;
text-align:center;
}
img 
{border-style:solid;
border-width:1px;
border-color:#bbbbbb;
}
a:hover
{color:red;
}
