/* Kuvakertomusten tyylisivu */
body
{background-color:#aaaaaa;
text-align:center;
font-family:arial;
}
hr 
{width:800px;
}
table 
{background-color:white;
width:800px;
}
td 
{text-align:left;
vertical-align:top;
border-top-style:solid;
border-top-width:1px;
border-top-color:#aaaaaa;
}
img 
{border-style:solid;
border-width:1px;
border-color:#bbbbbb;
}
a:hover
{color:red;
}
