/* UUTISSIVUN TYYLIVALIKOIMA VAIKUTTA SIVUIHIN 04/2004 ALKAEN */

body
{font-family:arial, sans-serif;
background-color:#ffffff;
margin:2px;
}
table
{width:100%;
}
/* Palstojen yleiset m‰‰ritykset */
td {
	vertical-align:top;
}
/* Vasemman palstan m‰‰ritykset */
td.vasen {
	padding-right:2px; 
}

/* Oikean palstan m‰‰ritykset */
td.oikea
{width:300px;
padding-left:2px;
border-left:dotted;
border-color:#aaaaaa;
}
/* Tapahtumien p‰‰otsikoiden m‰‰ritys */
h1
{font-family:times;
color:white;
font-size:130%;
margin-top:0px;
padding-top:2px;
padding-bottom:2px;
padding-left:2px;
background-color:#aabbcc;
clear:right;
}
/* Sivun yl‰otsikon m‰‰ritys. (Koska kyseess‰ ei ole otsikkohierarkia,
   olisi uutissivun yl‰tunniste parempi m‰‰irtell‰ erillisen‰ elementtin‰
    ja asettaa sille halutut tyylim‰‰ritykset.) */
h2
{font-family:arial;
margin-top:0px;
margin-bottom:5px;
color:#8899aa;
font-size:90%;
font-weight:bold;
}
/* Normaalikappaleen m‰‰ritys */
p
{font-size:90%;
padding-left:5px;
}
/* Sitaattikappaleen m‰‰ritys */
p.sitaatti
{font-style:italic;
}
/* Kuvien yleiset tyylim‰‰ritykset + skaalaamaton kuva */
img
{border-style:solid;
border-width:1px;
border-color:#666666;
margin-left:5px;
margin-top:5px;
margin-right:1px;
margin-bottom:5px;
}
/* 06/2008 xml-sivuista alkaen: Vaakasuunnassa skaalatun kelluvan kuvan  kiinte‰ leveys muutettu suhteelliseksi, jolloin myˆs kuva skaalautuu selaimen ikkunakokoa muutettaessa (k‰ytet‰‰n vain vasemmassa sarakkeessa)
   11.5.09 lis‰tty m‰‰ritys "clear:right". jolla saadaan l‰hekk‰in olevat kuva
asettumaan allekkain eik‰ ik‰‰sti lomittain.*/
img.vaaka {
/*	width:300px; */
	width:50%;
	float:right;
	clear:right;
}
/* 06/2008 xml-sivuista alkaen: Pystysuunnassa skaalatun kelluvan kuvan kiinte‰ korkeus muutettu suhteelliseksi leveydeksi, jolloin myˆs kuva skaalautuu selaimen ikkunakokoa muutettaessa (k‰ytet‰‰n vain vasemmassa sarakkeessa) 
   11.5.09 lis‰tty m‰‰ritys "clear:right". jolla saadaan l‰hekk‰in olevat kuva
asettumaan allekkain eik‰ ik‰‰sti lomittain.*/
img.pysty {
/*	height:300px; */
	width:40%;
	float:right;
	clear:right;
}
/* Oikean palstan kuva, jossa leveys on suhteessa oikean palstan leveyteen. Helpottaa palstan leveyden muuttamsta jatkossa. K‰ytˆss‰ 09/2007 alkaen */
img.sized {
/*	width:300px; */
	width:95%;;
}
/* Linkkien v‰rinmuutos osoitettaessa */
}a:hover
{color:red;
}

/* TYYLIT SIVUILLA 05/2008 ASTI */
/* 09/2007 alkaen: vasemman palstan oikealla kelluva kuva, jonka leveys on skaalattu kokoon 300 px. N‰in alkuper‰inen kuva voi olla mink‰ kokoinen tahansa (samaa kuvaa voidaan k‰ytt‰‰ esim. kuvaesityksess‰ suurempana).  */
img.szoikea
{width:300px;
float:right;
clear:right;
}
/* Vanha kelluva kuva, jossa ei koon m‰‰rityst‰ eli kuva n‰kyy juuri sen kokoisena, kuin se todellisuudessakin on. T‰t‰ m‰‰rityst‰ on k‰ytetty 08/2007 asti. */
img.floikea
{float:right;
}
li  /* Listoja ei tiett‰v‰sti ole k‰ytˆss‰ mill‰‰n sivulla ( huom. 27.4.2008) */
{font-size:85%;
padding-left:2px;
}


